body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #bdbdbd;
}

.grid {
    width: 900px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
    "box1 box1 box2 box3"
    "box4 box5 box5 box3";
}

.box1 {grid-area: box1;}
.box2 {grid-area: box2;}
.box3 {grid-area: box3;}
.box4 {grid-area: box4;}
.box5 {grid-area: box5;}