.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /*Mexe com a largura dos itens*/
    /* grid-template-rows: 1fr 2fr 1fr;  */

    grid-auto-rows: 200px;
}

.box {
    padding: 10px;
    border: 1px solid red;
    background-color: rgba(128, 128, 128, 0.384);
}

.box1 {
    grid-column: 1/4;
    grid-row: 1/4;
}