.container {
    display: grid;
    grid-template-columns: 100px 50px 80px 200px;
    grid-template-rows: 80px 100px 100px;
    row-gap: 20px;
    column-gap: 10px;
}

.box {
    background-color: rgba(128, 128, 128, 0.384);
    border: 1px solid red;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box3 {
    
}

.box4 {

}